:root{
    --clr-title: #091133;
    --clr-paragraph: #6F7CB2;
    --clr-heading:  #37447E;
    --clr-sub-heading: #091133;
    --clr-sub-paragraph: #5D6970;
    --clr-link: #505f98;
    --font-regular: 400;
    --font-medium: 500;
    --font-black: 900;
  }
  body {
    background: #fff;
    font-family: "Roboto", sans-serif;
    color: var(--clr-link);
    max-width: 2000px;
  }
  
  a {
    text-decoration: none;
    color: var(--clr-link);
  }
  
  button {
    border: 0;
  }
  
  .container {
    max-width: 1110px;
    margin: 0 auto;
  }
  li{
    list-style-type: none;
  }
  
  /*-------------------------------- global classes -------------------------------------------*/
  
  .title {
    font-weight: var(--font-black);
    font-size: 26px;
    color: var(--clr-heading);
    margin-right: 496px;
    display: inline-block;
  }
  .heading {
    font-weight: var(--font-medium);
    font-size: 36px;
    line-height: 48px;
    margin-top: 0;
    color: var(--clr-sub-heading);
  }
  
  .paragraph {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 30px;
    color: var(--clr-paragraph);
  
  }
  /*------------------------------------------ header --------------------------------------*/
  .the__head {
    background-image: url(../images1/big2.jpg);
    background-repeat: no-repeat;
    background-position: right -450px top 195px ;
    max-height: 900px;
  
  }

  .head__tittle{
    font-weight: bold;
  }

  .heading{
    font-weight: bold;
  }
  
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
  }
  
  .menu{
    display: flex;
    align-items: center;
    gap: 62px;
    padding-left: 0;
  }
  .header__nav-item{
    font-weight: var(--font-regular);
    font-size: 14px;
    line-height: 24px;
    color: var(--clr-link);
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
  }
  .header__buttons{
    display: flex;
    gap: 26px;
  }
  .header__btn{
    padding: 11px 20px;
    color: white;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    width: 104px;
    font-weight: var(--font-regular);
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }
  .learn__more{
    background-color: #111B47;
  }
  .buy__now{
    background-color: #FFD166;
    color: black;
  }
  .header__navigation{
    display: flex;
    align-items: center;
    gap: 60px;
  
  }
  
  /*------------------------------ hero -------------------------------------------*/
  .hero__container{
    max-height: 900px;
  
  }
  
  .hero__inner {
    width: 540px;
    padding-top: 120px;
    padding-bottom: 139px;
    padding-right: 95px;
  }
  
  .head__tittle{
    margin-bottom: 23px;
  }
  
  .hero__container-icon{
    display: flex;
    gap: 30px;
    padding-top: 29px;
  }
  
  .icon__image{
    height: 36px;
  }
  .icon__title{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 14px;
    font-weight: var(--font-regular);
    font-size: 16px;
    height: 26px;
    color: var(--clr-sub-heading);
  
  }
  .icon__text{
    padding-top: 6px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: var(--font-regular);
    font-size: 12px;
    height: 54px;
    line-height: 18px;
    color: var(--clr-sub-paragraph);
  }
  /*------------------------------------- intro sections ------------------------------*/
  .intro__container{
    display: flex;
    max-height: 700px;
  }
  .intro-inner{
    width: 540px;
    height: 422px;
    padding-top: 160px;
    padding-bottom: 160px;
    padding-right: 95px;
  }
  .intro__title{
    margin-bottom: 16px;
    font-weight: bold;
  }
  .intro-img{
    padding-top: 109px;
    padding-bottom: 108px;
    position: right -100px top 195px;
    height: 560px;
    width: 600px;
  }
  .intro__container-icon{
    display: flex;
    gap: 30px;
    padding-top: 64px;
  }
  /*----------------------------------------- pricing --------------------------------*/
  
  
  .pricing__container {
    height: 465px;
    margin-top: 59px;
    margin-bottom: 214px;
  }
  .price__text{
    width: 730px;
  }
  .price__intro{
    display: flex;
    gap: 30px;
  }
  .price__info{
    width: 350px;
  
  }
  .price{
    padding-top: 71px;
    color: var(--clr-heading);
    margin-bottom: 0;
  }
  .price__product-name{
    padding-top: 16px;
    font-weight: var(--font-medium);
    font-size: 22px;
    line-height: 32px;
    color: var(--clr-sub-heading);
  
  }
  .price__product-info{
    padding-top: 8px;
    font-weight: var(--font-regular);
    font-size: 14px;
    line-height: 24px;
    color: var(--clr-sub-paragraph);
  }
  
  .pricing__button{
    margin-top: 30px;
    width: 189px;
    height: 26px;
    background: #111b47;
    border-radius: 2px;
    color: #ffffff;
    font-weight: var(--font-medium);
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }
  
  /*------------------------------ footer ----------------------------*/
  .footer {
    background: #E7ECFF;
  }
  .footer__date{
    margin-top: 37px;
    display: inline-block;
    width: 83px;
    font-weight: var(--font-medium);
    font-size: 14px;
    line-height: 24px;
    color: #939EA4;
    padding-right: 938px;
  }
  .footer__title{
    margin-top: 37px;
    margin-right: 0;
  }
  .footer__hr {
    background: #cdd1d4;
    margin-top: 58px;
    height: 1px;
    border: 0;
    margin-bottom: 0;
  }
  .footer__btn{
    text-align: center;
    height: 70px;
  }
  .footer__branding-label{
    margin-top: 21px;
    width: 110px;
    background: #111B47;
    text-align: center;
    font-weight: var(--font-medium);
    font-size: 12px;
    color: #ffffff;
    border-radius: 2px;
    padding: 5px 0;
  }
  .footer__menu {
    padding-top: 18px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 245px;
  }
  .footer__social{
    padding-top: 26px;
    margin: auto;
    display: flex;
    justify-content:space-between;
    width: 200px;
  }
  .social-image{
    width: 16px;
  }
  .classa{
    display:flex;
  }
  
  